/*

COMMON.CSS

きょうつうこうもくのCSS置き場

*/


.select-chip{
  padding:6px 10px;
  border-radius:999px;
  border:1px solid #ead2c2;
  background:#fffffc;
  color:#60564f;
  font-size:12px;

  cursor:pointer;
  transition:.15s;
}

.select-chip:hover{
  transform:translateY(-1px);
}

.card-common{
  background:#fffffc;
  border-radius:16px;
  border:1px solid #ead2c2;
}




/*==========
ボタン
==========*/
button{
  display: inline-block;   padding: 5px 10px;
  border-radius: 10px;   text-decoration: none;
  color: #f4a57a;   background-color:#fffffc;
  border:1px solid #f4a57a;  font-size:13px;
}

.common-button{
  padding:8px 12px;

  border-radius:999px;
  border:1px solid #ead2c2;

  background:#fffffc;
  color:#60564f;
 
  cursor:pointer;
}

.btn-main{
  background:#7A89A8;
  color:#fffffc;

  border:none;
}/*保存，追加*/

.btn-sub{
  padding:6px 10px;
  border-radius:12px;
  border:1px solid #ead2c2;
  background:#fffffc;
  color:#60564f;
}/*編集，閉じる，キャンセル*/

.btn-danger{
  padding:6px 10px;
  border-radius:12px;
  border:1px solid #e0b0a0;
  background:#fff7f5;
  color:#9a5a4f;
}/*削除，初期化*/


/*==========
コンテンツ配置（主にモーダル内）
==========*/
/*元：end-btn*/
.actions-row{
  width:70%;
  display:flex;
  justify-content: space-between;
  font-size:14px;
  margin:auto;
}

/*元：title-line*/
.flex-between{
  display: flex;
  justify-content: space-between;
  gap:3px;
}





/*==========
インプット
==========*/
.input-common{
  width:100%;
  height:34px;
  padding:0 8px;
  box-sizing:border-box;
  border:1px solid #f4a57a;
  border-radius:10px;
  background:#fffffc;
  font-size:13px;
  color:#646364;
}

.input-small{
  width:auto;
  min-width:150px;
}

.input-title{
  width:100%;
  min-height:38px;
  padding:6px 8px;
  box-sizing:border-box;
  border:1px solid #f4a57a;
  border-radius:10px;
  background:#fffffc;
  font-size:16px;
  font-weight:600;
  color:#646364;
}

.textarea-common{
  width:100%;
  min-height:72px;
  padding:8px;
  box-sizing:border-box;
  border:1px solid #f4a57a;
  border-radius:10px;
  background:#fffffc;
  font-size:13px;
  color:#646364;
  resize:vertical;
}


