/*

PAGE-SEARCH.CSS
詳細検索ページ用CSS

*/

.search-search{
 background:#fffffb;
 border:1px solid #fffbeb;
}

.detail-search-group{

  border:1px solid #eac897; /*丁子*/
  background:#fffbeb;/*鳥の子*/

  border-radius:8px;

  padding:10px;

  margin-bottom:10px;

}