/*

PAGE-SEARCH.CSS
詳細検索ページ用CSS

*/

.search-search{
 background:#fffffb;
 border:1px solid #fcd697; /*密陀僧*/
}

.detail-search-group{

  background:#fffbeb;/*鳥の子*/
  border:1px solid #fcd697; /*密陀僧*/

  border-radius:8px;

  padding:10px;

  margin-bottom:10px;

}